@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

ul,
ol {
  list-style: none;
}


/* HEADER SECTION */

/* NAV */
.nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 4rem;
  background-color: white;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 36px;
  cursor: pointer;
}

.logo h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
}

.list-block {
  width: 881px;
  height: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list {
  display: flex;
  height: 20px;
}

.list li {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 24px;
  padding: 0px 20px;
  gap: 6px;
  cursor: pointer;
  border-right: 1.7px solid #E8E8E8;
}

.list li:nth-last-child(1) {
  border: none;
}


.list li i {
  width: 12px;
  margin-top: 3.5px;
}

.languages {
  width: 112px;
  height: 24px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.languages div img {
  width: 24px;
  height: 24px;
  object-fit: cover;
  margin-top: 4px;
}

.burber-menu {
  display: none;
}

.bars {
  font-size: 20px;
}

/* NAV END*/


/* HEADER-BANNER */

.header-banner {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 630px;
  padding: 1rem 2rem;
  background: url(/IMG/header-background.png) center / cover;
}

.banner-top {
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid white; */
}

.banner-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border: 1px solid white;
  background: transparent;
  color: white;
  font-size: 18px;
  transition: .3s ease-in-out;
}

.banner-btn:hover {
  background-color: #E8E8E8;
  color: black;
}

.banner-content {
  position: absolute;
  left: 12%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 343px;
  height: 190px;
  color: white;
  padding: 4px 0;
}

.content-top h2 {
  font-size: 28px;
  line-height: 42px;
}

.content-top p {
  margin-top: 20px;
  line-height: 21px;
}

.content-btn {
  width: 198px;
  height: 40px;
  background: transparent;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  transition: .3s ease-in-out;
}

.content-btn:hover {
  background-color: white;
  color: black;
}

.banner-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22px;
  height: 10%;
}

.banner-bottom .slider-dots {
  width: 12px;
  height: 12px;
  border-radius: 25px;
  background-color: #0F2A59;
  border: 2px solid white;
  margin-top: 20px;
}

.slider-dots:not(:first-child) {
  background-color: white;
  border: 2px solid #B8B8B873;
}

/* HEADER-BANNER END */

/* HEADER SECTION END */

/* ========================================= */

/* MAIN */

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 2rem 4rem;
  border-bottom: 2px solid red;
}

.cards-block {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.card {
  display: flex;
  justify-content: space-between;
  width: 368px;
  border-left: 5px solid #0F2A59;
  padding: 1rem;
  background-color: #F8F8F8;
}

.card:first-child {
  border-left: 5px solid #EBEBEB;
}

.card:first-child .card-left h4 {
  font-weight: normal;
}

.card-left {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


/* NEWS-SECTION */

.news-block {
  width: 100%;
  padding: 0 6.5rem;
  margin-top: 100px;
}

.news-main-title {
  width: 40%;
}

.news-main-title h2 {
  font-size: 28px;
}

.news-cards-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  margin-top: 20px;
}

.news-cards {
  aspect-ratio: 5/4;
  transition: 0.3s ease-in-out;
}

.news-cards:hover {
  box-shadow: inset 0 100vh rgba(0, 0, 0, 0.515);

}

.news-cards:nth-child(1) {
  grid-column: 1/3;
  grid-row: 1/3;
  background: url(/IMG/news-worker1.png) center / cover;
}

.news-cards:nth-child(2) {
  background: url(/IMG/news-worker2.png) center / cover;
}

.news-cards:nth-child(3) {
  background: url(/IMG/news-worker4.png) center / cover;
}

.news-cards:nth-child(4) {
  background: url(/IMG/news-worker3.png) center / cover;
}

.news-cards:nth-child(5) {
  background: url(/IMG/news-worker5.png) center / cover;
}

.news-card-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1rem;
  color: white;
  line-height: 20px;
}

.news-card-content h3 {
  margin-top: 4px;
  font-size: 20px;
  line-height: 28px;
}

.news-card-content p {
  font-size: 14px;
  line-height: 1.5;
}

/* NEWS-SECTION-END */

/* DOUBLE-CARD-SECTION */

.double-card-block {
  position: relative;
  display: flex;
  align-items: center;
  width: 85%;
  height: 480px;
  margin-top: 60px;
  background-color: #FAFAFA;
}

.double-card-block.second {
  flex-direction: row-reverse;
}

.backgorund-img {
  width: 900px;
  height: 100%;
  background: url(/IMG/double-img1.png) center / cover;
}

.backgorund-img.second {
  background: url(/IMG/double-img2.png) center / cover;
}

.backgorund-img.third {
  background: url(/IMG/double-img3.png) center / cover;
}

.inner-double-card {
  width: 540px;
  height: 365px;
  display: flex;
  align-items: center;
  position: absolute;
  right: 5%;
  padding: 2rem;
  background-color: #FFFFFF;
  z-index: 2;
}

.inner-double-card.second {
  right: 0;
  left: 5%;
}

.double-card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
  width: 444px;
  height: 244px;
}

.double-card-content h1 {
  font-size: 28px;
}

.double-card-content p {
  color: #B6B6B6;
  font-size: 14px;
  line-height: 20px;
}

.double-content-btn {
  width: 260px;
  height: 40px;
  padding: 12px 0;
  border: 1px solid #0F2A59;
  color: #0F2A59;
  font-weight: 600;
  background: transparent;
  margin-top: 10px;
}

/* DOUBLE-CARD-SECTION-END */

/* MAIN-END */






/* MEDIA QUERIES */

@media (max-width:1024px) {

  .nav {
    justify-content: space-between;
  }

  .list-block {
    display: none;
  }

  .burber-menu {
    display: block;
  }


  .cards-block {
    flex-wrap: wrap;
  }

  .card {
    width: 100%;
  }

  .news-block {
    padding: 0;
  }

  .news-main-title {
    width: 100%;
  }


  .double-card-block {
    width: 100%;
  }

}

@media (max-width:768px) {
  .news-cards-box {
    grid-auto-rows: 150px;
    grid-gap: 20px;
  }

  .news-cards {
    aspect-ratio: initial;
  }

  .news-cards:nth-child(1) {
    grid-column: 1/5;
  }

  .news-cards:nth-child(2) {
    grid-column: 1/3;
  }

  .news-cards:nth-child(3) {
    grid-column: 3/5;
  }

  .news-cards:nth-child(4) {
    grid-column: 1/3;
  }

  .news-cards:nth-child(5) {
    grid-column: 3/5;
  }


  .double-card-block {
    position: static;
    align-content: flex-start;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 2rem;
  }

  .backgorund-img {
    display: none;
  }

  .inner-double-card {
    width: 100%;
    height: 100%;
    position: static;
    transition: 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    padding: 2rem;
  }
}

@media (max-width:426px) {
  .nav {
    padding: 1rem 1.75rem;
  }

  .bars {
    font-size: 22px;
  }

  .banner-content {
    top: 20%;
  }

  #container {
    padding: 2rem 1.75rem;
  }

  .news-card-content h5 {
    font-size: 12px;
  }

  .inner-double-card {
    padding: 1rem;
  }
}

@media (max-width:376px) {
  .banner-content {
    display: none;
  }

  .cards-right img {
    width: 80px;
  }
  .double-card-block{
    padding: 0;
  }
}

/* MEDIA QUERIES END */