@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

ul,
ol {
  list-style: none;
}

/* ====================================== */

/* HEADER SECTION */

/* NAV */
.nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.85rem 0.60rem;
  background-color: white;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 36px;
  cursor: pointer;
}

.logo h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 42px;
  color: #0F2A59;
}

.list-block {
  width: 881px;
  height: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list {
  width: 358px;
  display: flex;
  justify-content: space-between;
}

.list li {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 20px;
  padding: 0 20px 0 10px;
  gap: 6px;
  cursor: pointer;
  border-right: 1px solid #E8E8E8;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
}

.list li a {
  display: flex;
  justify-content: start;
  align-items: center;
  text-decoration: none;
  gap: 6px;
  color: black;
}

.list li:nth-last-child(1) {
  border: none;
}

.list li i {
  width: 12px;
  margin-top: 3.5px;
}

.languages {
  width: 112px;
  height: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  box-sizing: content-box;
}

.languages p {
  font-size: 14px;
  margin-left: 10px;
}

.languages div {
  display: flex;
}

.languages div .lang-img {
  width: 24px;
  height: 24px;
  object-fit: cover;
}

.languages div .lang-img.second {
  margin-left: 8px;
}

.burber-menu {
  display: none;
  padding:  0.35rem 0.40rem;
  border-radius: 50px;
  transition: 0.3s ease-in-out;
}

.bars {
  font-size: 20px;
}
.burber-menu:hover{
  background-color: #E8E8E8;
}
/* NAV END*/

/* HEADER-BANNER */
.header-banner {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 570px;
  padding: 1rem 2rem;
  background: url(/IMG/header-background.png) center / cover;
}

.banner-top {
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner-btn {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  margin-top: 72px;
  font-size: 18px;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  transition: .3s ease-in-out;
}

.banner-btn:hover {
  background-color: #E8E8E8;
  color: black;
}

.banner-content {
  position: absolute;
  left: 12.2%;
  top: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 343px;
  height: 190px;
  color: white;
  padding: 4px 0;
}

.content-top h2 {
  font-size: 28px;
  font-weight: 600;
  line-height: 42px;
}

.content-top p {
  margin-top: 20px;
  line-height: 24px;
  font-size: 14px;
}

.content-btn {
  width: 200px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: 1.5px solid white;
  border-right: 1.8px solid white;
  color: white;
  cursor: pointer;
  transition: .3s ease-in-out;
  margin-bottom: 4px;
  font-size: 14px;
}

.content-btn:hover {
  background-color: white;
  color: black;
}

.banner-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 23px;
  height: 10%;
}

.banner-bottom .slider-dots {
  width: 12px;
  height: 11px;
  border-radius: 25px;
  background-color: #0F2A59;
  border: 2.3px solid white;
  margin-top: 18px;
  cursor: pointer;
}

.slider-dots:not(:first-child) {
  width: 9px;
  height: 9px;
  background-color: white;
  border: 2px solid #B8B8B873;
  transition: 0.3s;
}

.slider-dots:not(:first-child):hover {
  background-color: #0F2A59;
  border: 3px solid white;
}

/* HEADER-BANNER END */

/* HEADER SECTION END */

/* ========================================= */

/* MAIN */

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 2rem 0rem;
}

.cards-block {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 32px;
}

.card {
  position: relative;
  width: 368px;
  height: 130px;
  display: flex;
  justify-content: space-between;
  border-left: 6px solid #0F2A59;
  padding: 12px 1rem;
  background-color: #F8F8F8;
}

.card:first-child {
  border-left: 6px solid #EBEBEB;
}

.card-left h4 {
  font-weight: 700;
}

.card:first-child .card-left h4 {
  font-weight: normal;
}

.card-left {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.card-left p {
  position: absolute;
  top: 28%;
  font-size: 14px;
  line-height: 19px;
  margin-top: 9px;
  margin-right: 20px;
}

.cards-right img {
  width: 106px;
  height: 106px;
  object-fit: cover;
}

/* NEWS-SECTION */
.news-block {
  width: 100%;
  padding: 0 5.5rem;
  margin-top: 100px;
}

.news-main-title {
  width: 40%;
  margin-left: 8px;
}

.news-main-title h2 {
  font-size: 28px;
  margin: 4px 0 0 4px;
}

.news-cards-box {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  gap: 10px;
  margin-top: 25px;
}

.news-card-wrapper {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
}

.news-cards {
  width: 268px;
  height: 181px;
  transition: 0.3s ease-in-out;
  margin-left: 12px;
}

.news-cards:hover {
  box-shadow: inset 0 100vh rgba(0, 0, 0, 0.515);

}

.news-cards.first {
  width: 568px;
  height: 383px;
  background: url(/IMG/news-worker1.png) center / cover;
  border: 1px solid white;
}

.news-cards.first .news-card-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1.38rem 1rem;
  color: white;
  line-height: 20px;
}

.news-cards.first .news-card-content p {
  font-size: 14px;
  margin-left: 0.30rem;
  line-height: 2.1;
}

.news-cards.first .news-card-content h3 {
  font-size: 20px;
  line-height: 25px;
  margin-left: 0.35rem;
}

.news-cards:nth-child(2) {
  background: url(/IMG/news-worker4.png) center / cover;
}

.news-cards:nth-child(3) {
  background: url(/IMG/news-worker3.png) center / cover;
}

.news-cards:nth-child(4) {
  background: url(/IMG/news-worker5.png) center / cover;
}

.news-card-wrapper .news-cards:nth-child(1) {
  background: url(/IMG/news-worker2.png) center / cover;
}

.news-card-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* padding: 12px; */
  padding: 11px 8px;
  color: white;
}

.news-card-content h3 {
  width: 461px;
  font-size: 20px;
  line-height: 18px;
}

.news-card-content h5 {
  width: 248px;
  font-size: 13px;
  line-height: 16px;
}

.news-card-content p {
  font-size: 11px;
  line-height: 26px;
}


/* NEWS-SECTION-END */

/* DOUBLE-CARD-SECTION */
.double-card-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 72px;
  padding: 0 6.2rem;
  gap: 48px;
}

.double-card-block.second {
  flex-direction: row-reverse;
}

.double-card-box {
  width: 100%;
  height: 480px;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #FAFAFA;
}

.double-card-box:nth-child(2) {
  flex-direction: row-reverse;
}

.backgorund-img {
  width: 900px;
  height: 100%;
  background: url(/IMG/double-img1.png) center / cover;
}

.backgorund-img.second {
  width: 800px;
  height: 100%;
  background: url(/IMG/double-img2.png) center / cover;
}

.backgorund-img.third {
  background: url(/IMG/double-img3.png) center / cover;
}

.inner-double-card {
  width: 540px;
  height: 365px;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 5.5%;
  padding: 3rem;
  background-color: #FFFFFF;
  z-index: 2;
  gap: 10px;
}

.inner-double-card.second {
  height: auto;
  right: 0;
  left: 5.5%;
}

.double-card-content {
  width: 444px;
  height: 184px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.double-card-content.second {
  height: 218px;
}

.double-card-content h1 {
  width: 335px;
  font-size: 28px;
  line-height: 34px;
}

.double-card-content p {
  color: #B6B6B6;
  font-size: 14px;
  line-height: 20px;
  margin-top: 8px;
}

.double-content-btn {
  width: 260px;
  height: 40px;
  padding: 12px 0;
  border: 1px solid #0F2A59;
  color: #0F2A59;
  font-size: 14px;
  font-weight: 600;
  background: transparent;
  margin-top: 10px;
  transition: .3s;
}

.double-content-btn:hover {
  background-color: #0F2A59;
  color: white;
  cursor: pointer;

}

/* DOUBLE-CARD-SECTION-END */

/* MAIN-END */

/* ====================================== */

/* FOOTER */

#footer-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 3.3rem 4rem;
  margin-top: 50px;
  background-color: #181818;
  color: white;
  border-bottom: 1px solid #262626;
}

/* CONTACTS */
.contacts-block {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
}

.for-response {
  display: none;
  font-weight: 500;
  font-size: 24px;
}

.contacts-block h2 {
  font-weight: 500;
  font-size: 24px;
}

.contacts-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-bottom: 1px solid #262626;
  padding: 1.25rem 0.30rem;
  gap: 17px;
}

.contacts-list li {
  font-weight: 600;
  font-size: 13px;
  /* margin-top: 14px; */
}

.contacts-list li i {
  margin-right: 12px;
  font-size: 16px;
  color: #0F2A59;
}

/* CONTACTS-END */

/* FOOTER-MAP */
.footer-map {
  margin-right: 34px;
}

.footer-map .footer-map-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* FOOTER-MAP-END */

/* FOOTER-END */

/* ====================================== */

/* MEDIA QUERIES */

@media (max-width:1024px) {

  /* HEADER */
  .nav {
    padding: 1rem 2rem;
    justify-content: space-between;
  }

  .list-block {
    display: none;
  }

  .burber-menu {
    display: block;
  }

  /* MAIN */

  #container {
    padding: 0 2rem;
  }

  .cards-block {
    margin-top: 40px;
    flex-wrap: wrap;
  }

  .card {
    width: 100%;
  }

  .news-block {
    padding: 0;
  }

  .news-cards-box {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .news-card-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;

  }

  .news-cards.first {
    width: 100%;
  }

  .news-cards.first h3 {
    width: 100%;
  }

  .news-main-title {
    width: 100%;
  }

  .double-card-block {
    width: 100%;
  }

  /* FOOTER */

  #footer-container {
    padding: 2rem;
    flex-direction: column;
    justify-content: space-between;
  }

}

@media (max-width:768px) {

  /* MAIN */

  .news-card-wrapper .news-cards {
    width: 100%;
  }

  .double-card-block {
    height: auto;
    position: static;
    align-content: flex-start;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 2rem;
  }

  .backgorund-img {
    display: none;
  }

  .inner-double-card {
    width: 100%;
    position: static;
    transition: 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    padding: 2rem;
  }

  .double-card-content {
    width: 100%;
    height: auto;
  }

  .double-content-btn {
    width: 100%;
  }

  /* FOOTER */
  #footer-container {
    flex-direction: column;
    gap: 20px;
  }

  .for-response {
    display: block;
    margin-left: 20px;
  }

  .contacts-block h2 {
    display: none;
  }

  .contacts-block {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .footer-map {
    width: 100%;
  }
}

@media (max-width:426px) {

  /* HEADER */
  .nav {
    padding: 1rem 1.75rem;
  }

  .banner-content {
    display: none;
  }

  .bars {
    font-size: 22px;
  }

  .banner-content {
    top: 20%;
  }

  /* MAIN */
  #container {
    padding: 2rem 1.75rem;
  }


  .news-card-content h5 {
    font-size: 12px;
  }


  .double-card-box {
    height: 100%;
  }

  .double-card-content {
    height: auto;
  }

  .double-card-content.second {
    height: auto;
  }

  .double-card-content h1 {
    width: auto;
    line-height: 24px;
  }

  .double-card-content p {
    line-height: normal;
  }

  .inner-double-card {
    height: 100%;
    padding: 1rem;
    /* border: 1px solid red; */
  }

  /* FOOTER */
  #footer-container {
    padding: 2rem;
  }

}

@media (max-width:376px) {

  /* MAIN */
  .cards-right img {
    width: 80px;
  }

  .double-card-block {
    padding: 0;
  }

}

@media (max-width:320px) {

  .card-left {
    margin: 0;
    justify-content: space-between;
  }

  .card-left p {
    top: 35%;
  }

  .news-card-content h5 {
    line-height: normal;
  }

  .news-main-title h2 {
    font-size: 24px;
  }
}

/* MEDIA QUERIES END */